<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M-Commerce</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Padauk:wght@400;700&family=Poppins:wght@400;700&display=swap"
        rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="assets/css/argon.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <style>
        .header {
            height: 30vh;
        }
    </style>
</head>

<body>
    <!-- header -->
    <style>

    </style>
    <div class="header">
        <div class="w-80">
            <!-- navigation -->
            <div class="nav d-flex justify-content-between pt-3">
                <div class="nav-first d-flex justify-content-between align-items-center">
                    <img src="assets/images/logo.png" width="50" alt="">
                    <div class="nav-item-group ml-5">

                        <a href="" class="text-white btn btn btn-outline-warning">Product</a>
                        <a href="" class="text-white btn btn btn-outline-dark">Category</a>
                        <a href="" class="text-white btn btn btn-outline-dark ">Hot Deal</a>
                        <a href="" class="text-white btn btn btn-outline-dark ">About</a>

                        <a href="#" class="btn btn-outline-dark cart-container">
                            <i class="fas text-danger  fa-shopping-basket fs-1"></i>
                            <span class="cart-no bg-danger text-white">10</span>
                        </a>

                    </div>
                </div>
                <div class="d-flex jusity-content-center">
                    <div class=" d-flex justify-content-center align-items-center">
                        <div class="dropdown">
                            <button class="btn btn-dark text-white dropdown-toggle" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Account
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                    <div class=" d-flex justify-content-center align-items-center">
                        <div class="dropdown">
                            <button class="btn btn-dark text-white dropdown-toggle" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Language
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">မြန်မာ</a>
                                <a class="dropdown-item" href="#">English</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5 d-flex justify-content-center align-items-center">
            <h4 class="text-white">Product Detail</h4>
        </div>
    </div>



    <div class="w-80 mt-5">

        <div class="row">
            
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 ">
                <div class="card">
                    <div class="card-header bg-dark text-white">All Category</div>
                    <li class="list-group-item">
                        <img src="assets/images/category.jpeg" width="30" alt="">
                        Speaker
                        <small class="float-right badge badge-dark">10</small>
                    </li>
                    <li class="list-group-item">
                        <img src="assets/images/category.jpeg" width="30" alt="">
                        Speaker
                        <small class="float-right badge badge-dark">10</small>
                    </li>
                    <li class="list-group-item">
                        <img src="assets/images/category.jpeg" width="30" alt="">
                        Speaker
                        <small class="float-right badge badge-dark">10</small>
                    </li>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-9 col-lg-9">
                <div class="card p-4">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <h3>Best Speakers</h3>
                            <div>
                                <small class="text-muted">Brand:</small>
                                <small>Samsung</small>

                                |
                                <small class="text-muted">Category:</small>
                                <small class="badge badge-dark">Red</small>
                            </div>
                        </div>

                        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                            <img class="w-100" src="assets/images/product2.jpeg" alt="">
                        </div>

                        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                            <div class="mt-5">
                                <p>
                                    <small class="text-muted">
                                        <strike>25000ks</strike>
                                    </small>
                                    <span class="text-danger fs-1 d-inline">20000ks</span>
                                    <br>
                                    <span class="btn btn-sm btn-outline-success text-success mt-3">InStock :10</span>
                                    <span class="btn btn-sm btn-danger mt-3">
                                        <i class="fas fa-shopping-cart"></i>
                                        Add To Cart</span>
                                </p>

                                <p class="mt-5">
                                    Vivamus adipiscing nisl ut dolor dignissim semper. Nulla luctus malesuada tincidunt.
                                    Class aptent taciti sociosqu ad litora torquent
                                </p>

                                <small class="text-muted">Available Color:</small>
                                <span class="badge badge-danger">Red</span>
                                <span class="badge badge-danger">Green</span>
                                <span class="badge badge-danger">Blue</span>
                            </div>
                        </div>
                        <hr>
                        <div class="col-12" style="margin-top: 100px;">
                            <!-- loop review -->
                            <div class="review">
                                <div class="card p-3">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="d-flex justify-content-between">
                                                <img class="w-100 rounded-circle" src="assets/images/user.jpeg" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="rating">
                                                <small class="far fa-star text-warning"></small>
                                                <small class="far fa-star text-warning"></small>
                                                <small class="far fa-star"></small>
                                                <small class="far fa-star"></small>
                                                <small class="far fa-star"></small>
                                            </div>
                                            <div class="name">
                                                <b>Myo Thant Kyaw</b>
                                            </div>

                                            <div class="mt-3">
                                                <small>
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
                                                    ipsam
                                                    vero ex fugit maiores officiis sit fuga nihil! Maiores laboriosam
                                                    consequuntur explicabo vitae dolorum exercitationem optio, veritatis
                                                    nulla ab expedita.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="review">
                                <div class="card p-3">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="d-flex justify-content-between">
                                                <img class="w-100 rounded-circle" src="assets/images/user.jpeg" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="rating">
                                                <small class="far fa-star text-warning"></small>
                                                <small class="far fa-star text-warning"></small>
                                                <small class="far fa-star"></small>
                                                <small class="far fa-star"></small>
                                                <small class="far fa-star"></small>
                                            </div>
                                            <div class="name">
                                                <b>Myo Thant Kyaw</b>
                                            </div>

                                            <div class="mt-3">
                                                <small>
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
                                                    ipsam
                                                    vero ex fugit maiores officiis sit fuga nihil! Maiores laboriosam
                                                    consequuntur explicabo vitae dolorum exercitationem optio, veritatis
                                                    nulla ab expedita.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="add-review mt-5">
                                <h4>Make Review</h4>
                                <div class="">
                                    <small class="far fa-star"></small>
                                    |
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                    |
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                    |
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                    |
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                </div>
                                <div>
                                    <textarea class="form-control" rows="5" placeholder="enter review"></textarea>
                                    <button class="btn btn-dark float-right mt-3">Review</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="/assets/js/argon.min.js"></script>

</body>

</html>
